# Python cache and environment files
*__pycache__/
*.pptx
*.vscode/
*.pkl
.env
*.egg-info/
*.pytest_cache/

# Terraform local directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Ignore sensitive Terraform variable files
*.tfvars
*.tfvars.json

# Local Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI config
.terraformrc
terraform.rc

# Terraform plan outputs
*.tfplan
tfplan
